#
# This can be used to authenticate to Home Assistant with the command_line
# auth provider introduced in version 0.88.
#
# The configuration.yaml entry might look as follows:
#
#     homeassistant:
#       auth_providers:
#       - type: command_line
#         command: /path/to/ldap-auth.sh
#         args: ["/path/to/this/config.cfg"]
#         # Uncomment and see below if you want the Home Assistant
#         # user to be populated with his full name.
#         #meta: true
#
# The settings for this configuration can be taken 1:1 from ldap-auth.sh.
# Just copy them over and adapt to your needs.
#

# must use a home-assistant docker image which includes openldap-tools
CLIENT="ldapsearch"

# Add SERVER, USERDN etc. here...
SERVER="ldaps://myserver.com:636"

# AD does not allow anonymous binds
BIND_ANONYMOUS=0

# A service account which has read permissions on the AD
BINDDN="cn=ldapsearch,ou=services,dc=example,dc=org"
BINDPWD="..."

# Look for user accounts under this OU
SCOPE="sub"
BASEDN="ou=users,dc=example,dc=org"

# Example filter for AD DC: any non deactivated user account member of any group member of the "Home Assistant Users" group
FILTER="(&(&((objectclass=user)(memberof:1.2.840.113556.1.4.1941:=cn=Home Assistant Users,ou=groups,dc=example,dc=com))(samaccountname=$(ldap_dn_escape "$username"))(!(userAccountControl:1.2.840.113556.1.4.803:=2))))"

# Uncomment to have the value of cn be set as user's friendly name in
# Home Assistant.
NAME_ATTR="cn"
ATTRS="$ATTRS $NAME_ATTR"


########## SCRIPT CODE FOLLOWS, DON'T TOUCH ##########

on_auth_success() {
	# print the meta entries for use in HA
	if [ ! -z "$NAME_ATTR" ]; then
		name=$(echo "$output" | sed -nr "s/^\s*$NAME_ATTR:\s*(.+)\s*\$/\1/Ip")
		[ -z "$name" ] || echo "name=$name"
	fi
}
